/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
    font-family: Georgia;
    src: url(Helvetica-Bold.otf);
}

@font-face {
    font-family: CMR;
    src: url(CutiveMono-Regular.ttf);
}
body {
  padding-bottom: 40px;
  color: #5a5a5a;
  background:#ffffff;
}
#non-skrollr{
	background:#e6e6e6;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Button Customization */
.Butn { 
  color: #FCFCFC; 
  background-color: #0DE8B8; 
  border-color: none; 
} 
li > a:hover{
	color:#6ffff3;
}
a{
	color:white;
}
 
.Butn:hover, 
.Butn:focus, 
.Butn:active, 
.Butn.active, 
.open .dropdown-toggle.Butn { 
  color: #FCFCFC; 
  background-color: #FF9966; 
  border-color: #FFFFFF; 
} 
 
.Butn:active, 
.Butn.active, 
.open .dropdown-toggle.Butn { 
  background-image: none; 
} 
 
.Butn.disabled, 
.Butn[disabled], 
fieldset[disabled] .Butn, 
.Butn.disabled:hover, 
.Butn[disabled]:hover, 
fieldset[disabled] .Butn:hover, 
.Butn.disabled:focus, 
.Butn[disabled]:focus, 
fieldset[disabled] .Butn:focus, 
.Butn.disabled:active, 
.Butn[disabled]:active, 
fieldset[disabled] .Butn:active, 
.Butn.disabled.active, 
.Butn[disabled].active, 
fieldset[disabled] .Butn.active { 
  background-color: #0DE8B8; 
  border-color: #FFFFFF; 
} 
 
.Butn .badge { 
  color: #0DE8B8; 
  background-color: #FCFCFC; 
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 120;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {

  position:relative;
  background:#e6e6e6;
  -webkit-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
-moz-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
  background: url(flowerPower.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  min-width:100%;
  background-color: #777;
  background:#e6e6e6;
  -webkit-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
-moz-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
background-color:black;

}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
.flower-power{
	  -webkit-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
-moz-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
}

/* Floater 
--------------------------------------- */
.skrollr-deck {
	position: relative;
	box-sizing: border-box;
	text-align: center;
	z-index: 100;
}

.float-void {
	visibility: hidden;
}

.float-deck {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.float-deck span,
.skrollr-deck span {
	display: block;
	color: #fff; font-size: 12em;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}
.container{
	margin:none;
	padding:none;
	
}
.marketing{
	width:100%;
	height:100%;
	-webkit-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
-moz-box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
box-shadow: 10px 10px 252px -23px rgba(0,0,0,0.64);
}
#vtext{
	transform: rotate(270deg);
	font-size:1em;
	margin-bottom:100px;
	font-weight:bolder;
	font-family:CMR;
	color:white;
}
#vtext2{
	transform: rotate(270deg);
	display:inline-block;
	font-size:1em;
	margin-left:-20%;
	font-weight:bolder;
	font-family:CMR;
	color:#ff9966;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.col-lg-6{
	margin-top:20px;
	margin-left:-20px;
}

/* EMAIL COLOR */

#exampleInputEmail1{
	border-color:#0de8b8;
	background:none;
	border-top:none;
	border-left:none;
	border-right:none;
	border-size:4px;
}
 #Text{
	 font-family: Georgia;
	 font-size: 1em;
	 padding:30px;
	 margin-right:50px;
	 padding-left:50px;
	 text-align:left;
 }
  #Text2{
	 font-family: Georgia;
	 font-size: 1em;
	 text-align:left;
	 margin-left:-30px;
 }
  #Text3{
	 font-family: Georgia;
	 font-size: 1em;
	 font-weight:bolder;
	 text-align:right;
	 display:inline;
 }
 li>a:hover{
	 color:black;
 }
 
 #nav {
    width: 25%;
    position: relative;
}

#nav nav {
    position: fixed;
    width: 25%;
}

#nav a {
    border-bottom: 1px solid #666;
    color: #333;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#nav a:hover, #nav a.active {
    background: #666;
    color: #fff;
}

/*Video  
----------------------------------------- */
video{
	min-width: 100% ;
	min-height:100% ;
	object-fit:cover;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
/* Sidebar Edits */
#visbox2{
	margin-top:40px;
}
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
     #Text{
	   font-size:1em;
	   padding-right:10px;
   }
   #Text2{
	   font-size:0.8em;
   }
   #special{
	   font-size:1.2em;
   }
    #vtext{
	   visibility:hidden;
   }
   #visbox1{
	   visibility:hidden;
   }
   #visbox2{
	   visibility:visible;
   }
   #vtext2{
	transform: rotate(0deg);
}
#skrollr-body,.skrollr-deck,.float-deck{
	visibility:hidden;
	display:none;
}
#non-skrollr{
	visibility:visible;
	display:inherit;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
     #Text{
	   font-size:1em;
   }
   #Text2{
	   font-size:1em;
   }
   #special{
	   font-size:1.2em;
   }
   #vtext{
	   visibility:hidden;
   }
   #visbox1{
	   visibility:hidden;
   }
   #visbox2{
	   visibility:visible;
   }
   #vtext2{
	transform: rotate(0deg);
}
#skrollr-body,.skrollr-deck,.float-deck{
	visibility:hidden;
	display:none;
}
#non-skrollr{
	visibility:visible;
	 display:inherit;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   #Text{
	   font-size:1.3em;
   }
   #Text2{
	   font-size:1.3em;
   }
   #special{
	   font-size:1em;
   }
   #vtext{
	   visibility:hidden;
   }
   #visbox1{
	   visibility:visible;
   }
   #visbox2{
	   visibility:hidden;
   }
   #vtext2{
	transform: rotate(270deg);
}
#skrollr-body,.skrollr-deck,.float-deck{
	visibility:visible;
	display:inherit;
}
#non-skrollr{
	visibility:hidden;
	display:none;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
   #Text{
	   font-size:1.3em;
   }
   #Text2{
	   font-size:1.3em;
   }
   #special{
	   font-size:1em;
   }
   #vtext{
	   visibility:visible;
   }
   #vtext2{
	transform: rotate(270deg);
}
#skrollr-body,.skrollr-deck,.float-deck{
	visibility:visible;
	display:inherit;
}
#non-skrollr{
	visibility:hidden;
	display:none;
}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
        #Text{
	   font-size:1.8em;
   }
   #Text2{
	   font-size:1.6em;
   }
   #special{
	   font-size:1em;
   }
   #vtext{
	   visibility:visible;
   }
   #skrollr-body,.skrollr-deck,.float-deck{
	visibility:visible;
	display:inherit;
}
#non-skrollr{
	visibility:hidden;
	display:none;
}
body{
	background-color:none;
}
   
}
